heard {
  background: #BBBBBB;
}

nav li {
  display: inline;
}

  nav a {
    text-transform: uppercase;
  color: #000000;
 font-weight: bold;
   fot-size: 22px;
 tex-decoration: none;
}
    position:absolute;
   top : 0;
   right: 0;
 }
